.ant-layout-header.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}


.logo {
  display: inline-block;
  color: #fff;
}

.header-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
